html {
	 box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}
*, *::before, *::after {
	 box-sizing: inherit;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 12px;
  /*text-transform: lowercase;*/
  line-height: 150%
}
h3{padding:0; margin:0}
h4{display: inline; padding:0;}
img{width:100%}
iframe{width:100%;height:100%; display: block;}

.small{
	font-size: .75em
}

.marked-text{
	/*color:red;*/
	/*font-style: italic;*/
	color:blue;
}

mark{
	color:blue;
	background-color: transparent;
}

.spinner{
	width:75px;
	height:75px;
}

.arrow{
  text-decoration: none;
  font-size: 20px;
  vertical-align: -2px;
}

.lsmmaCam, .glensheenCam {
  height:95%;
}

.webcam{
  height: 330px;
}

.localForecast iframe{
	height:245px;
}

.outter{
  width:400px;
  /*min-height: 400px;*/
  padding: 10px;
  /*border: 1px dotted black;*/
  /*margin: 5px;*/
	/*border-radius: 5px;*/

}
.double{
  width: 600px;
}

table{
	width:100%;
	border-collapse: collapse;
	/*text-align: center;*/
}


th{
	background-color:black;
	border: 1px solid white;
	color:white;
	text-align: left;
	white-space: nowrap;

}

tr:nth-child(even) {
    background-color: rgb(240,240,240);
}

tr td:nth-child(1), tr td:nth-child(2), tr td:nth-child(4) {
   /*text-align: center;*/
	 padding-left:5%;
}
.dulm5 tr td:nth-child(5), .slvm5 tr td:nth-child(5) {
   /*text-align: center;*/
	 padding-left:5%;
}

.roam4 tr td:nth-child(6) {
   /*text-align: center;*/
	 padding-left:5%;
}



td{
	/*width:30px;*/
	/*border: 1px solid black;*/
	white-space: nowrap;
}

@media (max-width: 1000px)  {

  .double{
    width: 400px;
  }

}

@media (max-width: 400px)  {

  .double, .outter{
    width: 97%;
  }

}

